.tblEvolucao{
    margin: 20px auto
}
.medidasGerais{
    margin: 10px auto;
}
.medidasEspecificas{
    margin: 10px;
}
.medidasGerais td, .medidasEspecificas td{
    width: 60px;
}
.medidasGerais td, .medidasGerais th, .medidasGerais tr,
.medidasEspecificas td, .medidasEspecificas th, .medidasEspecificas tr{
    border: 1px solid silver;
}
.slcEvolucao{
    margin-top: 10px;
    margin-bottom: 0;
}
.slcEvolucao h3{
    margin: 0 0 -15px 0;
}

.slcEvolucao div{
    float: left;
    margin: 15px 20px;
}
.slcEvolucao select{
    width: 125px;
}
.slcEvolucao label{
    display: block !important;
}
.slcEvolucao #inicio, slcEvolucao #fim{
    display: inline-block;
}

#buscarEvolucao{
    display: block;
    margin: 10px auto;
    height: 30px;
    padding: 5px 15px;
}

.vazio{
    border-bottom: 1px solid white  !important;
    border-left: 1px solid white  !important;
}