table, th{
    text-align: center
}
tr button{
    padding: initial !important;
    margin: 0 0 0 20px !important;
}
.busca{
    margin-bottom: -40px;
    width: 30%;
    border: none;
    padding-left: 10px;
  }
.card.card-content.table-responsive{
    margin-top: 2px !important;
}
.btn-atualizar, .btn-cadastrar{
    float: right !important;
    bottom: -40px
}
.disabled {
    text-decoration: none;
    color: gray;
    cursor: default;
  }
.card-header{
    background-color: #14cea6 !important;
    text-align: left;
    color: white;
    vertical-align: middle;
    margin: -25px -15px !important;
    padding: 5px !important;
}

.spinner{
    position: absolute;
    display: flex;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.box-spinner{
    display: none;
}
.loader {
    margin: auto;
    border: 10px solid transparent; /* Light grey */
    border-top: 10px solid #14cea6; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    z-index: 1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}