.card.card-profile {
    margin-top: 15px !important;
}

.card-avatar {
    margin: auto !important;
    width: 75% !important;
    margin: 5px auto !important;
}

.form-control {
    margin: auto !important;
    font-size: 16px !important;
}

.email {
    font-size: 12px !important;
}

th {
    width: 20px;
}

.medidas tr, .medidas td, .medidas th {
    border: none !important;
    height: 35px !important;
    padding: 0 !important;
    width: 75px !important;
}

.endereco tr, .endereco td, .endereco th {
    border: none !important;
}

.endereco td{
    padding: 0 !important;
    width: 30px !important;
}

.medidas {
    margin: 10px;
    width: 95% !important;
}

.disabled {
    background-color: #f1f1f1 !important;
}

span {
    font-size: 15px;
    font-weight: bolder;
}

#upload{
    display: none;
}

#btnUpload{
    padding: 0px 5px !important;
    margin: 0px auto !important;
    opacity: 0;
}

#divCel label, #divCel input,
#divCep label, #divCep input,
#divBairro label, #divBairro input,
#divEndereco label, #divEndereco input,
#divCidade label, #divCidade input {
    display: inline !important;
}

#divCel input,
#divCep input,
#divEndereco input,
#divBairro input{
    margin-top: 5px !important;
    width: 75%;
}

#divCep label{
    margin-left: 15px !important;
}

#numero, #estado{
    width: 50px !important;
}

#bairro{
    width: 50% !important;
}
#cidade{
    width: 40% !important;
}

#exibeMedidas{
    margin: 10px auto !important;
}