.card.card-profile {
    margin-top: 15px !important;
}

.card-avatar {
    margin: auto !important;
    width: 75% !important;
}

.form-control {
    margin: auto !important;
    font-size: 16px !important;
}

.email {
    font-size: 12px !important;
}

th {
    width: 20px;
}

.medidas tr, .medidas td, .medidas th {
    border: none !important;
    height: 35px !important;
    padding: 0 !important;
}

.medidas tr, .medidas td, .medidas th {
    width: 75px !important;
}

.medidas {
    margin: 10px;
    width: 95% !important;
}

.disabled {
    background-color: #f1f1f1 !important;
}

span {
    font-size: 15px;
    font-weight: bolder;
}

#uploadFoto {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 3%;
    left: 3%;
    z-index: 1;
}

#camera {
    display: none;
    opacity: 0.6;
    position: absolute;
    width: 60px;
    height: 50px;
    top: 7%;
    left: 6%;
}
#upload{
    z-index: 1;
}