.treino-detail {
    display: block;
    border: 1px solid #CCC;
}

li {
    list-style-type: none;
}
.semana{
    margin: 0 auto 20px auto;
    line-height: 20px
}
.semana label{
    margin: 10px !important;
    font-size: 1.5em;
}
.semana button{
    height: 30px;
    width: 130px;
    margin: 10px auto!important;
}
